<?xml version="1.0"?>
<model>
    <name>Robot_Table</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Anirudh Krishnan Komaralingam</name>
        <email>anikk.umd@gmail.com</email>
    </author>

    <description>
        UFactory Robot Table (just a box with the right dimensions)
    </description>

</model>