<?xml version="1.0"?>
<model>
    <name>PingPong_Ball</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>

    <author>
        <name>Anirudh Krishnan Komaralingam</name>
        <email>anikk.umd@gmail.com</email>
    </author>

    <description>
        a pingpong ball
    </description>

</model>